[user]
  name = Cezar Berea
  email = cezar@dotts.ro
[color]
  ui = auto
[core]
  excludesfile = /home/cezar/gitignore
  editor=nvim
[alias]
  latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
  standup = log --since '2 days ago' --pretty=format:'%C(auto)%cr %h%d %s' --author cezar -i
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  graph = log --graph --all  --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  st = status -sb
  ds = diff --staged
  co = checkout
[push]
  default = tracking
[gui]
  warndetachedcommit = true
	spellingdictionary = none
[pull]
	ff = only
