aur-builds/aur-builds/*/*
!aur-builds/aur-builds/*/PKGBUILD
!aur-builds/aur-builds/*/local
!aur-builds/aur-builds/*/*.own.*
nvim/.config/nvim/autoload/*.old
awesome/.config/awesome/config/*.local.lua
fonts/.local/share/fonts/.uuid
bin/bin/*.local.*
nvim/.config/htop
