@import "catppuccin_frappe.css";

* {
  font-family: Ubuntu Nerd Font, sans-serif;
  font-size: 13px;
}

window#waybar {
  background: @base;
  padding: 0;
  color: @text;
  border-radius: 10px;
}

#workspaces {
  background: none;
  padding: 0;
  margin: 0;
}

#workspaces button {
  color: @text;
  padding: 0.3em 0.8em;
  min-width: 2em;
  margin: 0 0.2em 0 0;
  border: 1px solid @base;
  border-radius: 10px;
  box-shadow: none;
}

#workspaces button:hover {
  background: @surface0;
  border: 1px solid @surface0;
}

#workspaces button.active {
  border: 1px solid @blue;
  color: @base;
  background: @blue;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active.empty {
  opacity: 1;
}

#workspaces button.urgent {
  color: @red;
  opacity: 1;
}

#window {
  padding: 0 1em;
  color: @subtext0;
}

#pulseaudio,
#idle_inhibitor,
#custom-dunst,
#cpu,
#load,
#memory,
#network,
#temperature,
#keyboard-state,
#battery,
#clock,
#tray,
#backlight {
  padding: 0 1em;
}

#load {
  padding-right: 0;
}

#network,
#temperature,
#clock {
  background: @surface0;
}

#privacy-item {
  background: @blue;
  color: @base;
  padding: 0 1em;
}

#idle_inhibitor {
  color: @yellow;
}

#idle_inhibitor.activated {
  background: @yellow;
  color: @base;
}

#custom-dunst {
  color: @peach;
}

#custom-dunst.paused {
  background: @peach;
  color: @base;
}

#clock {
  font-weight: bold;
  color: @yellow;
}
