monitor=,highres,auto,1
monitor=eDP-1,highres,auto,1
{{ .hyprland.extraMonitorsConfig }}

source=./monitors.conf

# Execute your favorite apps at launch
# exec-once = waybar & hyprpaper & firefox
exec-once = waybar 
exec-once = hyprpaper 
exec-once = my-idle.sh
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# Source a file (multi-file configs)
source = ~/.config/hypr/theme.conf

# Some default env vars.
env = XCURSOR_SIZE,16
env = XCURSOR_THEME,catppuccin-frappe-peach-cursors
env = HYPRCURSOR_SIZE,16
env = HYPRCURSOR_THEME,catppuccin-frappe-peach-cursors
env = WLR_NO_HARDWARE_CURSORS,1
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_TYPE,wayland
env = XDG_SESSION_DESKTOP,Hyprland
env = QT_QPA_PLATFORM,wayland;xcb
env = QT_WAYLAND_DISABLE_WINDOWDECORATION,1

cursor {
  no_hardware_cursors = 2
  sync_gsettings_theme = true
}

# For all categories, see https://wiki.hyprland.org/Configuring/Variables/
input {
    kb_layout = us
    kb_variant = 
    kb_model = 
    kb_options =
    kb_rules =

    follow_mouse = 1
    mouse_refocus = false

    touchpad {
        natural_scroll = no
    }

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
}

general {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    gaps_in = 3
    gaps_out = 5
    border_size = 2
    col.active_border = rgb($blueAlpha) 
    col.inactive_border = rgb($baseAlpha)

    layout = master
}

group {
    col.border_active = rgb($yellowAlpha)
    col.border_inactive = rgba($yellowAlpha66)
    groupbar {
        render_titles = false
        col.active = rgba($yellowAlphaff)
        col.inactive = rgba($yellowAlpha66)
        gradients = false
    }
}

decoration {
    dim_inactive = false
    dim_strength = 0.05
    rounding = 10
    # inactive_opacity = 0.9
}

animations {
    enabled = yes 

    # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 3, default, slide
    animation = border, 1, 3, default
    animation = borderangle, 1, 3, default
    animation = fade, 1, 3, default
    animation = workspaces, 1, 3, default, slide
}

dwindle {
    # See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
    pseudotile = yes # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = yes # you probably want this
}

master {
    # See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
    # new_is_master = true
}

gestures {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    workspace_swipe = off
}


# Example windowrule v1
# windowrule = float, ^(kitty)$
# Example windowrule v2
# windowrulev2 = float,class:^(kitty)$,title:^(kitty)$
# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more

windowrulev2=move onscreen cursor 0 0,class:(browsers)
windowrulev2=stayfocused,class:(browsers)
windowrulev2=float,class:(galculator)


# See https://wiki.hyprland.org/Configuring/Keywords/ for more
$mainMod = SUPER

# Window commands
bind = $mainMod_SHIFT, C, killactive, 
bind = $mainMod, F, togglefloating, 
bind = $mainMod, M, fullscreen, 

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# Apps
bind = $mainMod, RETURN, exec, alacritty

#   screenshot
bind = $mainMod, F12, exec, grim -g "$(slurp)" - | swappy -f -
bind = $mainMod_SHIFT, F12, exec, grim -g "$(slurp -o)" - | swappy -f -

#   clipboard
bind = $mainMod, V, exec, rofi -modi clipboard:my-cliphist.sh -show clipboard -show-icons
bind = $mainMod_ALT, V, exec, cliphist list | rofi -dmenu | cliphist delete

# Launcher
bind = $mainMod, R, exec, rofi -show drun
bind = $mainMod, W, exec, rofi -show window
bind = $mainMod_SHIFT, R, exec, rofi -show run

# Locker
bind = $mainMod, Escape, exec, my-lockscreen.sh
bind = $mainMod_SHIFT, Escape, exec, wlogout

# bind = $mainMod, P, pseudo, # dwindle
# bind = $mainMod, J, togglesplit, # dwindle

# MONITORS
# MOD + UP/DOWN/LEFT/RIGHT focuses monitors
# +SHIFT moves active window to monitor
bind = $mainMod, left, focusmonitor, l
bind = $mainMod, right, focusmonitor, r
bind = $mainMod, up, focusmonitor, u
bind = $mainMod, down, focusmonitor, d

bind = $mainMod_SHIFT, left, movewindow, mon:l
bind = $mainMod_SHIFT, right, movewindow, mon:r
bind = $mainMod_SHIFT, up, movewindow, mon:u
bind = $mainMod_SHIFT, down, movewindow, mon:d

# FOCUS
# MOD + J/K focus next/prev
# +SHIFT moves window in current workspace

bind = $mainMod, TAB, focusurgentorlast
bind = $mainMod, K, cyclenext
bind = $mainMod, J, cyclenext, prev
bind = $mainMod_SHIFT, K, swapnext
bind = $mainMod_SHIFT, J, swapnext, prev

# GROUPS
# MOD + G submap for working with groups
bind = $mainMod_SHIFT, G, togglegroup
bind = $mainMod, bracketLeft, changegroupactive, b
bind = $mainMod, bracketRight, changegroupactive, f
bind = $mainMod, G, submap, groups
submap = groups
bind = , l, lockactivegroup, toggle
bind = , l, submap, reset
bind = , X, moveoutofgroup
bind = , X, submap, reset
bind = , left, moveintogroup, l
bind = , left, submap, reset
bind = , right, moveintogroup, r
bind = , right, submap, reset
bind = , up, moveintogroup, u
bind = , up, submap, reset
bind = , down, moveintogroup, d
bind = , down, submap, reset
bind = , Escape, submap, reset
submap = reset

# MEDIA KEYS
bindl=, XF86AudioPlay, exec, playerctl play-pause -p spotify
bindl=, XF86AudioNext, exec, playerctl next -p spotify
bindl=, XF86AudioPrev, exec, playerctl previous -p spotify
bindl=, XF86AudioRaiseVolume, exec, playerctl volume 0.1+ -p spotify
bindl=, XF86AudioLowerVolume, exec, playerctl volume 0.1- -p spotify

# WORKSPACES
# Switch workspaces with mainMod + [0-9]
{{- range $wIdx := $.hyprland.workspaces }}
bind = $mainMod, {{ $wIdx }}, exec, hypr-switch-workspace.sh {{ $wIdx }} workspace
{{- end }}

# Move active window to a workspace with mainMod + SHIFT + [0-9]
{{- range $wIdx := $.hyprland.workspaces }}
bind = $mainMod_SHIFT, {{ $wIdx }}, exec, hypr-switch-workspace.sh {{ $wIdx }} movetoworkspacesilent
{{- end }}

# Scroll through existing workspaces with mainMod + scroll
# bind = $mainMod, mouse_down, workspace, e+1
# bind = $mainMod, mouse_up, workspace, e-1

