
{{- range $mIdx, $mName := .hyprland.monitors }}
{{- range $wIdx := $.hyprland.workspaces }}
workspace = {{ $mIdx }}0{{ $wIdx }}, monitor:{{ $mName }}, persistent:true, defaultName:{{ $wIdx }}
{{- end }}
{{- end }}
