snippet cl "console.log(...)" b
console.log(${0});
endsnippet


snippet red "redux reducer function" b
export default function $0(state, action) {
	$0
}
endsnippet


snippet comp "React component"
import * as React from 'react';
import PropTypes from 'prop-types';

export default class $1 extends React.Component {
	static propTypes = {
		$2
	};

	render() {
		return (
			<div>
				$0
			</div>
		);
	}
}
endsnippet
